.rsvp-form-container {
  background-image: url('../assets/images/rsvp.png');
  background-repeat: none;
  background-size: cover;
  width: 80%;
  height: 800px;
  min-width: 400px;
  margin: 0 auto;
}
