html {
  text-align: center;
  color: $color-accent;
  h1 {
    font-size: 2em;
  }
  h1, h2, h3, h4, p {
    font-weight: 100;
  }
  a {
    color: black;
  }
}

.container {
  width: 415px;
  height: 783px;
  margin: 0 auto;
}
